body {
	padding-top: 50px;
}


.add-link {
	font-size: 20px;
	margin-left: 100px;
}


.tile-status .name {
	font-size: 10px !important;
	margin-right: 0px !important;
	margin-top: 10px !important;
	margin-left: 5px !important;
	padding: 0px;
}


.app-info-table tr td:nth-of-type(2) {
	font-weight: bold;
	/*color: green;*/
	/*font-style: italic;*/
}


.metro .listview-outlook label {
	font-style: inherit;
}

.breadcrumbs {
	font-weight: bold !important;

}