<ul class="" role="tablist">
	<li><a href="/admin/client/authentification/<%= client.id %>">Authentification</a></li>
	<li><a href="">API endpoints</a></li>
	<li><a href="">Permissions</a></li>
	<li><a href="/admin/client/settings/<%= client.id %>">Settings</a></li>
	<li><a href="/oauth/authorize?client_id=<%= client.clientId %>&response_type=token&redirect_uri=<%= client.redirectURI %>">Test OAuth2</a></li>
	<!-- <li><a href="">Delete</a></li> -->
</ul>